{% extends 'base.html' %}
{% block content %}
    <div class="detail-background">
    </div>
        <img class='mixzer-img' src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80">
    <h1 class='detail-user'>{{ mixzer.user }}</h1>
    <h3 class="mixzer-location">{{ mixzer.location}}</h3>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="mixzer-interaction">
        <a href="{% url 'create_review' mixzer.id%}"><button class ='user-review' type="submit">Make a review</button></a>
        <a href="{% url 'send_message' mixzer.id%}"><button class="user-message" type='submit'>Send A Message</button></a>
    </div>
    <div class="mixzer-reviews">
        <h1 class="mixzer-about">About {{ mixzer.user}}</h1>
        <br>
        <br>


    </div>
    <div class="mixzer-jobs">
        <h2 class="mixzertitle-reviews">{{ mixzer.user}}'s Reviews</h2>
        {% for review in reviews %}
    {{ review.content }}
    {% empty %}
        <h4 class="reviews-here">There are no reviews for {{mixzer.user}} yet!</h4>
    {% endfor %}
    </div>
   
{% endblock %}
