{% extends 'base.html' %}
{% block content %}
    <div class="detail-background">
    </div>
        <img class='mixzer-img' src="{{mixzer.photo_set.first.url}}">
    <h1 class='detail-user'>{{ mixzer.user }}</h1>
    <h3 class="mixzer-location">{{ mixzer.location}}</h3>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="mixzer-interaction">
        <a href="{% url 'create_review' mixzer.id%}"><button class ='user-review' type="submit">Make a review</button></a>
        <a href="{% url 'send_message' mixzer.id%}"><button class="user-message" type='submit'>Send A Message</button></a>
    </div>
    <div class="mixzer-jobs">
        <h2 class="mixzertitle-reviews">{{ mixzer.user}}'s Reviews</h2>
        {% for review in reviews %}
    {{ review.content }}
    {% empty %}
        <h4 class="reviews-here">There are no reviews for {{mixzer.user}} yet!</h4>
    {% endfor %}
    </div>
   
{% endblock %}
