body::-webkit-scrollbar{
    display: none;
    width: auto;
}
header{
    background-color: #000000;
    height: 4.5rem;
    margin: -2rem;
    margin-bottom: 1rem;
    margin-right: -0.5rem;
   

}
footer{
    text-align: center;
    background-color: #000000;
    color: white;
    height: 4rem;
    margin: 1rem;
        /* margin-top: -4rem; */
    position: fixed;
    width: 90rem;
    margin-left: -0.5rem;
}
.rights{
    padding-top: 2rem;
}

/** NAVIGATION **/
a{
    color: white;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-top: 1rem;

    padding-top: 3rem;
    padding-right: 2rem;
    text-decoration: none;
    padding-left: 1rem;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;

}


/** BRAND **/

.MixZers{
    text-align: center;
    font-size: 3rem;
    background-color: #000000;
    margin: -1rem;
    height: 3rem;
    letter-spacing: .5rem;
    color: rgb(255, 255, 255);
    margin-top: -3rem;
    margin-right: -0.5rem;
    padding-left: 65rem;
    margin-top: -4rem;
    
}

/** TOP SQUARE CONTENT **/
.top-square{
    background-image: url('https://www.intellis.io/hubfs/Facility-Condition-Assessment-Capital-Planning-Colleges-Universities.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100px 0px 200px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: 25rem;
    margin-top: -4.1rem !important;
    padding-bottom: 5rem;
    opacity: 0.8;
    font-size: 3rem;
}
.college{
   margin-left: 10rem;
    padding-top: 8rem;
}
.student{
    color: white;
}
.students{
    margin-left: 20rem;
    margin-top: -2rem;
}



/** MIDDLE SQUARE CONTENT **/
.middle-square{
    background-image: url('https://www.gannett-cdn.com/-mm-/83e081eae80cd2848af52df6da1060d621468f19/c=0-111-2120-1303/local/-/media/2020/02/10/USATODAY/usatsports/MotleyFool-TMOT-53b92eeb-cash-handing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: -2.7rem; */
    height: 35rem;
    margin-right: -0.5rem;
    font-size: 2.5rem;
    color: black;
    opacity: 0.8;
    text-align: right;
     margin-top: 0.1rem !important;
}
.infoCreate{
    padding-top: 6rem;
    padding-right: 1rem;
   
}
.confidence{
    padding-right: 8rem;
}
.earn{
    padding-right: 8rem;
}

/** BOTTOM SQUARE CONTENT ***/
.bottom-square{
    margin: 1rem;
    height: 30rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    background-color: #ffffff;
    margin-top: 2.7rem;
    text-align: center;
}
.home-reviews{
    display: flex;
    justify-content: space-around;
    height: 24rem;
    padding-top: 3rem;
}
.first-review{
    border: 2px solid black;
    width: 23rem;
}
.second-review{
    border: 2px solid black;
    width: 23rem;
}
.third-review{
    border: 2px solid black;
    width: 23rem;
}
.first-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: 7rem;
    margin-top: 1rem;
}
.firstpic{
    width: 100%;
    height : 100%;
    object-fit: contain;
}

p{
    margin-top: -0.7rem;
}
.second-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: 7rem;
    margin-top: 1rem;
}
.secondpic{
    width: 100%;
    height : 100%;
    object-fit: contain;
}
.third-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: 7rem;
    margin-top: 1rem;
}
.thirdpic{
    width: 100%;
    height : 100%;
    object-fit: contain;
}
/** BRAND **/
.MixZers{
    text-align: center;
    font-size: 3rem;
    background-color: #000000;
    margin: -1rem;
    height: 3rem;
    letter-spacing: .5rem;
    color: rgb(255, 255, 255);
    margin-top: -3rem;
    margin-right: -0.5rem;
    padding-left: 65rem;
    margin-top: -4rem;
    
}

/** TOP SQUARE CONTENT **/
.top-square{
    background-image: url('https://www.intellis.io/hubfs/Facility-Condition-Assessment-Capital-Planning-Colleges-Universities.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100px 0px 200px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: 25rem;
    margin-top: -4.1rem;
    padding-bottom: 5rem;
    opacity: 0.8;
    font-size: 3rem;
}
.college{
   margin-left: 10rem;
    padding-top: 8rem;
}
.student{
    color: white;
}
.students{
    margin-left: 20rem;
    margin-top: -2rem;
}



/** MIDDLE SQUARE CONTENT **/
.middle-square{
    background-image: url('https://www.gannett-cdn.com/-mm-/83e081eae80cd2848af52df6da1060d621468f19/c=0-111-2120-1303/local/-/media/2020/02/10/USATODAY/usatsports/MotleyFool-TMOT-53b92eeb-cash-handing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: -2.7rem;
    height: 35rem;
    margin-right: -0.5rem;
    font-size: 2.5rem;
    color: black;
    opacity: 0.8;
    text-align: right;
    margin-top: -3.32rem;
}
.infoCreate{
    padding-top: 6rem;
    padding-right: 1rem;
   
}
.confidence{
    padding-right: 8rem;
}
.earn{
    padding-right: 8rem;
}

/** BOTTOM SQUARE CONTENT ***/
.bottom-square{
    margin: 1rem;
    height: 30rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    background-color: #ffffff;
    margin-top: 2.7rem;
    text-align: center;
}
.home-reviews{
    display: flex;
    justify-content: space-around;
    height: 24rem;
    padding-top: 3rem;
}
.first-review{
    border: 2px solid black;
    width: 23rem;
}
.second-review{
    border: 2px solid black;
    width: 23rem;
}
.third-review{
    border: 2px solid black;
    width: 23rem;
}
.first-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: 7rem;
    margin-top: 1rem;
}
.firstpic{
    width: 100%;
    height : 100%;
    object-fit: contain;
}

p{
    margin-top: -0.7rem;
}
.second-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: 7rem;
    margin-top: 1rem;
}
.secondpic{
    width: 100%;
    height : 100%;
    object-fit: contain;
}
.third-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: 7rem;
    margin-top: 1rem;
}
.thirdpic{
    width: 100%;
    height : 100%;
    object-fit: contain;
}




/** ABOUT SECTION **/
a{
    color: white !important;
}

#about-all{
    background-color: black;
    color: white;
}
.about-title, .about-team{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}
.about-p{
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.everything{
    background-color: black;
    color: white;
    width: 100%;
}
.team{
    display: flex;
    justify-content: space-between;
}
.name{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}
.description{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.space{
    display: flex;
    justify-content: space-between;
}

.team-img{
    max-height: 360px;
    max-width: 360px;
    margin: auto;
 }

 #mel{
    padding-right: 2rem, !important;
    margin-left: 2rem;
 }

.team-titles{
    display: flex;
    justify-content: space-between;
    margin: auto;
}


/******************** LOGIN ********************/
.divlogins{

    height: 30rem;
    width: 30rem;
    margin-top: 3rem;
    margin-left: -20rem;
    margin-top: -2rem;
}
.login-div{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.login-image{
    height: 46rem;
    width: 40rem;
    margin-left: -16rem;
    margin-top: -1rem;
}
.login-mixzer{
    font-size: 7rem;
    margin-left: 10rem;

}
.login-name{
    text-align: center;
    margin-left: 15rem;
    margin-bottom: 1rem;
    margin-top: -3rem
}
.btn{
    font-size: 1rem;
    height: 2.5rem;
    width: 7rem;
    background-color: gray;
    color:white;
    outline: none;
    border: 0;
    margin-left: 4rem;
}
.login-sign{
    color: black;
    margin-top: -4rem;
    margin-left: 5rem;
    text-decoration-line: underline;
}
form{
    margin-left: 12rem;
    margin-top: 2rem;
}
.login-account{
    margin-left: 3rem;
}
#id_username{
    margin-left: 3.3rem;
}
#id_password{
    margin-left: 3.2rem !important;
}
/****************** SIGN UP PAGE ***********************/
.signup-div{
    display: flex;
    justify-content: space-around;

}
.signup-image{
    height: 40rem;
    width: 45rem;
    border-radius: 25% 0% 25% 0%;
    opacity: 0.9;
    border: 7px double black;
}
.signup-form{
    height: 25rem;
    margin-top: 3rem;
    margin-right: 5rem;
    padding: 1rem;
    margin-left: 0.5rem;
    text-align: center;    

}
.helptext{
    display: none;
}
.signup-form ul li.helptext {
    display: none;
  }
label{
    display: inline-block;
    width: 10rem;
    text-align: right;
    padding: 0.3rem;
    font-size: 1.3rem;
    border-top: none;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #eee;
    outline: none;
}
.createaccount{
    padding-bottom: 1rem;
    font-size: 3rem;
}
.signupbtn{
    font-size: 1rem;
    height: 2.5rem;
    width: 7rem;
    background-color: gray;
    color:white;
    outline: none;
    border: 0;
    margin-left: 10rem;
    margin-top: 1rem;
}



/* profile page */
#profile-test{
    background-color: black;}

.upper, #jp-form{
    display: flex;
    /* margin: 4rem; */
    justify-content: space-around;
}
.left, .right, .middle, #jp-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:rgb(255, 255, 255, 0.93);
    border-radius: 20px;
    margin: 2rem;
    box-shadow: rgba(255, 255, 255, 0.725) 0px 5px 15px;

    
}
.left > #profile-username{
    font-size: 2.2rem;
    margin: 1rem;
    text-align: center;
  
}
.left > #profile-location, #profile-email, #profile-student, #profile-first, #profile-last{
    font-size: 1.2rem;
    margin: 0, 2rem;
    text-align: center;
  
}
.right, .middle{
    font-size: 1.2rem;
    margin: 0, 2rem;
}

/* 
#profile-btn{
    font-size: 1rem;
    height: 2.5rem;
    width: 7rem;
    background-color: #000000;
    color:white ;
    border-radius: 5px;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-left: 10rem;
} */
/* 
#profile-btn:hover{
    background-color:navy;
    color: white;
} */
.user-img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    object-fit: cover;
    align-self: center;
    }
.btn{
    margin:auto;
    margin-top: 1rem;

}
/******************* confirm delete account view ******************/
.account-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height:auto;
    
}
.account-form{
    margin: 0 !important;
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.account-btn{
    margin: 15px !important;
}
.decline-delete, .confirm-delete {
    background: dodgerblue !important;
    color: #fff !important;
    border: #fff !important;
    color: white !important;
    font-size: 1.4rem;
    padding: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}
footer{
    width: 100% !important;
}
/******************* edit account view ******************/

#edit-profile-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 2px solid;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    margin: 0 !important;
}
.edit-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem;
}
.edit-profile-btn {
    /* width: 100% !important; */
    background: dodgerblue !important;
    color: #fff !important;
    border: #fff !important;
}
input[type="text"], input[type="email"], select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  tr{
    display: flex;
    justify-content: left;
  }

/******************* JOB POST PAGE  ******************/
#jp-body{
background: black;

}

.center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.center > p, textarea{
    position: relative !important;
    width: 500px !important;
    height: 60px !important;
    margin-top: 0px !important;
    
    margin-bottom: 50px !important;
}
.center > p > input, textarea{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    border: 2px solid #000 !important;
    outline: none !important;
    background: none !important;
    padding: 10px !important;
    border-radius: 10px !important;
    font-size: 1.2em !important;
}
.center > p > label{
        position: absolute !important;
        top: 14px !important;
        left: 20px !important;
        font-size: 1em !important;
        transition: 0.6s !important;
        font-family: sans-serif !important;
}

.center > p > #id_title, #id_job_description, #id_job_type, #id_salary, #id_schedule{
    transform: translateY(45px) !important;
}

.center > p > [type="button"] {
    width: 100% !important;
    background: dodgerblue !important;
    color: #fff !important;
    border: #fff !important;
}
.btn-about{
    flex: 0 0 25%;
    max-width: 80% !important;
}
.posting{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control{
    padding: 1rem !important;
}
label{
    width: auto;
}
#jp-h1{
    font-size: 3rem;
    margin: 1rem;
    margin-top: 3rem;
    text-align: center;
    color: rgb(255, 255, 255, 0.87);
}

#jp-form{
    width:fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: auto;
    background: rgb(255, 255, 255, 0.98);
    box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#profile-page-split{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.render-jobs{
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.jobsposted{
    text-align: center;
}
.job_title{
    text-align: center;
}
.jobtype{
    text-align: center;
}
.jobupdate-form{
    width: 35rem;
    margin: 0 auto;
    margin-top: 2rem;
    height: 33.2rem;
}
#id_applicants{
    display: none;
}
#id_candidates{
    display: none;
}
#id_author{
    display: none;
}
#id_job_description{
    margin-top: 2rem;
    
}
input.btn{
    margin-left: 15rem;
    margin-top: 2rem;

}
.edit-title{
    text-align: center;
}
/********************* DELETE JOB ****************/
.deletejob{
   text-align: center;
   margin-top: 10rem;
   font-size: 5rem;
}
.sure-delete{
    text-align: center;
    font-size: 2rem;
}
.cancel-job{
    background-color: #000000;
    color: white;
}
.deletetag{
    padding-top: 0;
}
.edittag{
    padding-top: 0;
}
.deletebutton{
     text-align: center;
    font-size: 2rem;
    padding: 0;
    margin-left: 26rem
}
a.canceltag{
    padding-bottom: 11rem;
    color: #000000;
    margin: 0 auto;
    font-size: 1rem;
}

/************************* MIXZERS DETAIL PAGE ********************/
.detail-background{
    margin-top: -1rem;
    margin-right: -1rem;
    margin-left: -1rem;
    height: 17rem;
    background-image: url('https://images.wallpaperscraft.com/image/single/books_shelf_collection_119979_1600x900.jpg');
   
}
.mixzer-img{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    margin-top: -8rem;
    margin-left: 5rem;
}
.detail-user{
    margin-left: 23rem;
    margin-top: -14rem;
    color: white;
    font-size: 60px;
}
.mixzer-location{
   font-size: 20px;
   margin-left: 25rem;
   margin-top: -3rem;
   color: wheat;
}
.mixzer-interaction{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
}
.user-message{
    margin-top: -2rem;
}
.user-review{
    margin-left: 0.3rem;
}
.mixzer-reviews{
    border: 3px solid black;
    width: 30rem;
    margin-top: 2rem;
    height: 15rem;
}
.mixzertitle-reviews{
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}
.reviews-here{
    text-align: center;
}
.mixzer-jobs{
    border: 2px solid black;
    width: 55rem;
    margin: 0 auto;
    margin-top: -30rem;
    height: 30rem;
    color: black;
    margin-left: 32rem;
}
.mixzerjob-posted{
    text-align: center;
}
.mixzer-about{
   text-align: center;
}

/* job near you page */
.job-deck{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;

}
.a-black{
    color: blue !important;
}

.job-card{
    /* border: #44e5e7 2px solid; */
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.search_line{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    
}

.card-body > a{
    margin: 0;
    padding: 0;
    justify-content: center;
}

#NJ_h1{
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;

}
#NJ_title{
    margin: 15px;
}
#NJ_type{
    margin-top: 25px;
}
#NJ_type, #NJ_salary, #NJ_schedule{
    font-size: 15px;
}