{% extends 'base.html' %}

{% block content %}
<container class="login-div">
    <img class="login-image" src="https://images.unsplash.com/photo-1639503667014-6533f3f34831?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
<container class="divlogins">
    <h1 class="login-mixzer">MixZer</h1>
<br>
<h3 class="login-name">Welcome Back!</h3>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn">Log In</button>
    <div class="login-account">
    <h4>Don't Have An Account?</h4>
    <a href="http://localhost:8000/signup/"><h4 class="login-sign">Sign Up</h4></a>
    </div>
  </form>
</container>
</div>
<!-- <br>
<br>
<br>
<br> -->
{% endblock %}