{% extends 'base.html' %}
{% block content %}
<br>
<div class="one">
<h1 class="about-title">What is MixZers?</h1>
<container class="about">
    <p>MixZers is dedicated to helping college students find employment opportunities using their .edu email addresses. We understand that finding a job as a student can be challenging, especially when you don't have a lot of work experience yet. That's why we've created a platform that connects students with employers who are specifically looking to hire college students.</p>
</container>
</div>
<br>
<div class="two">
<h1 class="about-mission">Our Mission</h1>
<container class="mission">
    <p>
        Our mission is to make it easier for students to find part-time or full-time work that fits their schedules and interests. We believe that college students have a lot to offer employers, and we want to help you showcase your skills and talents to potential employers.
    </p>
</container>
</div>
</div>
<br>
<div class="three">
<h1 class="about-team">Mixzers Team</h1>
<container class="team">
    <p>Our team is made up of college students who understand the challenges of balancing academics and work. We're passionate about helping our fellow students succeed, and we're committed to providing a user-friendly app that makes it easy to search for jobs, apply for positions, and connect with employers.</p>
</container>
</div>
{% endblock %}