{% extends 'base.html' %}
{% block content %}
<br>
<h1>About MixZers</h1>
<br>
<h3>Hey there! At [Your Company Name], we're all about helping college students make some extra cash while supporting local businesses and organizations. We understand that finding employment that fits around a busy schedule can be tough, which is why we're dedicated to providing a flexible, convenient, student-friendly platform that empowers students to work on their terms.
    <br>For employers, our platform offers an easy and effective way to find and hire college students for odd jobs, temporary work, and more. By posting job opportunities on our platform, you'll be able to tap into a talented and motivated pool of college students who are eager to make some extra cash and gain valuable work experience.
    <br>Our platform is designed to be transparent and fair for everyone involved. We believe that everyone deserves access to easy and convenient ways to make money, and we're committed to providing a platform that brings together students and employers from diverse backgrounds.
    <br>By supporting local employers, students will be giving back to their community and making a positive impact on the lives of others. And for employers, our platform offers a cost-effective and convenient way to find and hire college students who are eager to work and contribute to the success of your business.
    <br>So whether you're a student looking to make some extra cash or an employer looking for talented and motivated college students to fill job openings, we've got you covered. Join our community today and start connecting with local employers or talented college students in your area!
</h3>
<h2>GitHub Manager & Database Manager</h2>
<br>
<img src="mixpic_jon.jpeg">
<br>
<h2>Designer & Database Manager</h2>
<br>
<img src="mixpic_mel.jpeg">
<br>
<h2>Scrum Master & Documenter</h2>
<br>
<img src="mixpic_em.png">

<br>
<br>
{% endblock %}
