{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Mixzers</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'jobpost' %}">Post A Job</a></li>
                <li><a href="{% url 'nearjob' %}">Jobs Near You</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li> <!--WAIT FOR AUTHENTICATION-->
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block content%}
        {% endblock%}
    </main>
    <footer>
        <div class="footer">All Rights Reserved, &copy; 2023 MixZers &nbsp;</div>
    </footer>
</body>
</html>