{% extends 'base.html' %}

<!-- the second word is the name of the block (it's optional) -->
{% block content%}
<h1 class="MixZers">MixZers</h1>
<div class="title-links">
</div>

<div class="top-square">
    <h1 class="college">For College <span class='student'>Students</span></h1>
    <h1 class="students">By College <span class='student'>Students</span></h1>
    <!-- <button class="sign">Sign Up Now!</button> -->
 
</div>
<div class="middle-square">
        <!-- <h1 class="infoCreate">1. Create Your Profile</h1>
        <h1 class="confidence">2. Connect</h1>
        <h1 class="earn">3. Get Paid!</li> -->
</div>
<div class="bottom-square">
    <div class="home-reviews">
        <div class="first-review">
            <div class="first-pic">
            <img class="firstpic" src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
            </div>
            <h1 class="first-name">Sam</h1>
            <p>	&#11088 	&#11088 	&#11088 	&#11088 	&#11088</p>
            <p><strong>UC Davis Alumni</strong></p>
            <p>MixZer helped me find the perfect dog walker for our dog Sparky!
             Will definitely use again!</p>
            <h3>Verified Employer</h3>
        </div>
            <div class="second-review">
                <div class="second-pic">
               <img class="secondpic" src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80">
            </div>
                <h1>Angelica</h1>
                <p><strong>Cornell University</strong></p>
                <p>	&#11088 	&#11088 	&#11088 	&#11088 	&#11088</p>
                <p>Such a great website! College student friendly! <br>
                I got my internship through one of the listings!</p>
                <h3>Verified Student</h3>
            </div>
                <div class="third-review">
                    <div class="third-pic">
                        <img class="thirdpic" src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
                    </div>
                   
                    <h1>Derek</h1>
                    <p><strong>UC Berkely</strong></p>
                    <p>	&#11088 	&#11088 	&#11088 	&#11088 	&#11088</p>
                    <p>Super User Friendly! I needed a tutor for Calculus <br>
                    I was able to find one on here and so far so good! </p>
                    <h3>Verified Student</h3>
                </div>
</div>



{% endblock %}