{% extends 'base.html' %}
{% block content %}



<!--- CONTENT GOES HERE -->
{% for job in jobs %}
    <p>{{ job.title }}</p>
    <p>{{ job.schedule }}</p>
    <p>{{ job.applicants.all }}</p>
    <p><a href="{% url 'mixzer_detail' job.author.id %}">{{ job.author.user.username }}</a></p>
    {% if job.applicants.all %}
    {% for applicant in job.applicants.all %}
    <p>{{ applicant.user.username }}</p>
    <a href="{% url 'hire' job.id applicant.id%}">hire</a>
    {% endfor %}
    {% else %}
    <p>No applicants</p>
    {% endif %}
    {% if job.candidates.all %}
    {% for candidate in job.candidates.all %}
    <p>{{ candidate.user.username }}</p>
    {% endfor %}
    {% else %}
    <p>No candidates</p>
    {% endif %}
    <a href="{% url 'apply' job.id %}">Apply</a>
   

{% endfor %}


{% endblock %}