s<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    {% endif %}
    {% if user %}
        {{ user.user.username }}
        <br>
        {{ user.location }}
        <br>
        {{ user.user.email }}
        <br>
        {{ user.is_student }}
        <br>
        {{ error_message }}
        <br>
        {{ user.location }}
        <br>

        {{ message.content }}
    {% endfor %}
    {% endif %}
        <br>
    {% else %}
        not here
    {% endif %}
    <a href="{% url 'verify' %}">verify</a>
</body>
</html>