{% extends 'base.html' %}
{% block content %}
<container class="signup-container">
 
  <div class="signup-div">
<p class="red-text">{{ error_message }}</p>
<form class='signup-form'method="POST" action="{% url 'signup' %}">
<h1 class="createaccount">Create An Account</h1>

{% csrf_token %}
{{ form.as_p }}

{{ add_form.as_p }}
{{ addtl_form.as_p }}
<input type="submit" class="signupbtn" value="Sign Up" href="http://localhost:8000/signup/">
</form>
<div class="image-signup">
<img class='signup-image'src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
</div>
</div>
</container>
<br>
<br>
<br>
<br>
<br>
<script>
// TO REMOVE HELPTEXTS
const form = document.querySelector('form.signup-form');
const ul = form.querySelector('ul');
form.removeChild(ul);
// TO ADD PLACEHOLDER IN LOCATION
const placeholder = document.getElementById('id_location').placeholder = 'City, State';
// TO CHANGE USER_NAME ID
let id = document.getElementById('id_username').id = 'id_username2';
</script>
{% endblock %}