{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
      
        {{ message }}
        {% endfor %}
    {% endif %}
    {% if user %}
        {{ abc.user.username }}
        <br>
        {{ abc.location }}
        <br>
        {{ abc.user.email }}
        <br>
        {{ abc.is_student }}
        <br>
        {{ error_message }}
        <br>
        {{ abc.location }}
    {% endif %}

    {% if user_messages %}
    {% for message in user_messages %}

        {{ message.content }}
    {% endfor %}
    {% endif %}

    
    <a href="{% url 'verify' %}">verify</a><br />
    {% if reviews %}
        {% for review in reviews %}
            {{ review.rating }}
            {{ review.content }}
        {% endfor %}
    {% endif %}
{% endblock %}